@model EditorialModel
@{
    ViewData["Title"] = "Editoriales";
}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Get", nameof(Editorial))">Atras</a>
        <a class="navbar-brand">@ViewData["Title"]</a>
        <form class="d-flex">
            <a class="btn btn-outline-secondary" href="@Url.Action("Create", nameof(Editorial))">Nuevo</a>
        </form>
    </div>
</nav>

<form asp-controller="@nameof(Editorial)" asp-action="Edit" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input hidden type="checkbox" asp-for="@Model.Editorial.IsNew">
    <input hidden type="number" asp-for="@Model.Editorial.Id">

    <div class="row">
        <div class="col-md-6 mb-6">
            <label for="Nombre" class="form-label">Nombre</label>
            <input class="form-control" id="Nombre" asp-for="@Model.Editorial.Nombre">
            <span asp-validation-for="@Model.Editorial.Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-6">
            <label for="Sede" class="form-label">Sede</label>
            <input class="form-control" id="Sede" asp-for="@Model.Editorial.Sede">
            <span asp-validation-for="@Model.Editorial.Sede" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="mb-12" style="margin-top:20px">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>

<div class="row" style="margin-top:30px">
    @{
        Html.RenderPartial("../Libro/List",Model.ListLibros);
    }
    @*<table class="table table-sm table-responsive table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Editorial in Model.ListEditorial)
                {
                    <tr>
                        <th scope="row">@Editorial.Nombres</th>
                        <th scope="row">@Editorial.Apellidos</th>
                        <th scope="row">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Update","Libro", new { id = Editorial.Id })">Editar</a>
                                <a class="btn btn-sm btn-outline-danger" href="@Url.Action("Remove","Libro", new { id = Editorial.Id })">Eliminar</a>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>*@
</div>

