@model List<Autor>
@{
    ViewData["Title"] = "Autores";
}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">@ViewData["Title"]</a>
        <form class="d-flex">
            <a class="btn btn-outline-secondary" href="@Url.Action("Create",nameof(Autor))">Nuevo</a>
        </form>
    </div>
</nav>
<div asp-validation-summary="All" class="text-danger"></div>
<table class="table table-sm table-responsive table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Model)
        {
            <tr>
                <th scope="row">@autor.Nombres</th>
                <th scope="row">@autor.Apellidos</th>
                <th scope="row">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Update",nameof(Autor), new { id = autor.Id })">Editar</a>
                        <a class="btn btn-sm btn-outline-danger" href="@Url.Action("Remove",nameof(Autor), new { id = autor.Id })">Eliminar</a>
                    </div>
                </th>
            </tr>
        }
    </tbody>
</table>
